<style>


body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

/* menu */
#menu, #menu ul{
    background-color: #31708e;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu:before, #menu:after{
    content: '';
    display: table;
  }
  #menu:after{
    clear: both;
  }
  #menu li{
    float: left;
    position: relative;
  }
  #menu a{
    color: #f7f9fb;
    float: left;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-size: 1.0em;
    text-decoration: none;
    padding: 15px;
  }
  #menu li:hover > a{
    background: #5085a5;
  }
  #menu ul ul{
    background-color: #31708e;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu ul{
    top: 45px;
    visibility: hidden;
    position: absolute;
    background-color: #31708e;
  }
  #menu ul li{
    float: left;
    position: relative;
  }
  #menu li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  #menu ul ul{
    top: 0;
  }
  
  #map{
    height: 500px;
    width: 100%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  h1{
    color:#687864;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 2.5em;
  }
  h2{
    color:#5085a5;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-size: 1.5em;
  }
  h3{
    color:#e9e9e9;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-size: 1.0em;
  }
  p{
   
    color: #black;
    margin: auto;
    width:95%;
  }