button{
  background-color:#31708e;
  border: none;
  color: #f7f9fb;
  cursor: pointer;
  display: inline-block;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 1.0em;
  text-align: center;
  text-decoration: none;
}
html{
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

h1{
  color:#687864;
  text-align: center;
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 2.5em;
}
h2{
  color:#5085a5;
  text-align: center;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 1.5em;
}
h3{
  color:#e9e9e9;
  text-align: center;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 1.0em;
}
p{
  background-color: #88bbd6;
  color: #e9e9e9;
  margin: auto;
  width:95%;
}
p::first-letter {
  font-size: 200%;
  color: #5085a5;
}
table{
  background-color: #88bbd6;
  border: 3px solid #a9cce3;
  border-radius: 6px;
  color: #e9e9e9;
  margin: auto;
  text-align: left;
}
/*about us*/
#aboutUs, #contactUs{
  background-color: #88bbd6;
  border-radius: 6px;
  text-align: center;
}
/* menu */
#menu, #menu ul{
  background-color: #31708e;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu:before, #menu:after{
  content: '';
  display: table;
}
#menu:after{
  clear: both;
}
#menu li{
  float: left;
  position: relative;
}
#menu a{
  color: #f7f9fb;
  float: left;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 1.0em;
  text-decoration: none;
  padding: 15px;
}
#menu li:hover > a{
  background: #5085a5;
}
#menu ul ul{
  background-color: #31708e;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu ul{
  top: 45px;
  visibility: hidden;
  position: absolute;
  background-color: #31708e;
}
#menu ul li{
  float: left;
  position: relative;
}
#menu li:hover > ul{
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#menu ul ul{
  top: 0;
}

#map{
  height: 500px;
  width: 100%;
}