<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
  </head>

  <body>
   <ul id = "menu">
     <li><a href="../index.html">Home</a></li>
     <li><a href="#">System Logo</a></li>
     <li><a href="aboutus.html">About Us</a></li>
     <li><a href="contactus.html">Contact Us</a></li>
     <li style="float:right"><a href="signup.html">Sign Up</a></li>
     <li><a href="reviews.html">Reviews</a></li>
     <li style="float:right"><a href="login.html">Login</a></li>
     <li><a href="#">Type of Services</a>
       <ul>
         <li><a href="rideshare.php">Rideshare</a></li>
         <li><a href="ride_and_delivery.php">Ride & Delivery</a></li>
       </ul>
     </li>
   </ul>

   <br><br>
   <h1>Plan for Smart Services</h1>
   <img src="../img/logo.png" class="center">
   
   <h2>About us</h2>
  <div id="aboutUs">
    <p id="p_style" style="text-align:left;">
      P2S is an online system that aims to plan for smart green trips inside the city and its neighborhood through sharing vehicles (like Uber).
      Considering the traffic as a serious threat to the quality of life these years, the world has been looking for various solutions to decrease the stress, frustration, delays and terrible air pollutions being caused through it.
      P2S attempts to provide a smart green solution on this regard by matching up drivers who live, work, and finally drive in the same neighborhood and would like to provide trip services.</p>
  </div>

  </body>
</html>
