<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
  </head>

  <body>
    <ul id = "menu">
      <li><a href="../index.php">Home</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="contactus.html">Contact Us</a></li>
      <li style="float:right"><a href="signup.html">Sign up</a></li>
      <li><a href="reviews.html">Reviews</a></li>
      <li style="float:right"><a href="login.html">Login</a></li>
      <li><a href="#">Type of Services</a>
        <ul>
          <li><a href="rideshare.php">Rideshare</a></li>
          <li><a href="ride_and_delivery.php">Ride & Delivery</a></li>
        </ul>
      </li>
    </ul>

    <br><br>
    <h1>Plan for Smart Services</h1>
    <img src="../img/logo.png" class="center" style="width:10%;">
    
    <h2>Contact us</h2>
    <div id="contactUs">
        <h3 style="font-weight: bold;">CPS630-02 Group 13:</h3>
        <table style="width:80%">
          <tr>
            <th>Name</th>
            <th>Student Number</th>
            <th>Email Address</th>
            <th>Phone Number</th>
          </tr>
          <tr>
            <td>Syed Gilani</td>
            <td>500774969</td>
            <td>swgilani@ryerson.ca</td>
            <td>#111-111-1111</td>
          </tr>
          <tr>
            <td>Aaron Ooi</td>
            <td>500840798</td>
            <td>aaron.ooi@ryerson.ca</td>
            <td>#222-222-2222</td>
          </tr>
          <tr>
            <td>Rui Qi Wang</td>
            <td>500841896</td>
            <td>r1wang@ryerson.ca</td>
            <td>#333-333-3333</td>
          </tr>
          <tr>
            <td>Ke Zhang</td>
            <td>500832394</td>
            <td>ke.zhang@ryerson.ca</td>
            <td>#444-444-4444</td>
          </tr>
      </div>

  </body>
</html>
