<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plan for Smart Services(PS2)</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
   <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function aboutUs() {
        var aboutUs = document.getElementById("aboutUs");
        if (aboutUs.style.display=="none") {
          aboutUs.style.display="block";
        }
        else {
          aboutUs.style.display="none";
        }
      }
      function contactUs() {
        var contactUs = document.getElementById("contactUs");
        if (contactUs.style.display=="none") {
          contactUs.style.display="block";
        }
        else {
          contactUs.style.display="none";
        }
      }
      //


      //
      function validatepsw() {
        var password = document.forms["form"]["psw"].value;
        var passwordRepeat = document.forms["form"]["psw-repeat"].value;
        var email = document.forms["form"]["email"].value;
        var check = true;
        //var flag = new Boolean(1);
        if(password != passwordRepeat){
          check = false;
          alert("Passwords do not match:");
        }
        //
        var oReq = new XMLHttpRequest(); // New request object
        oReq.open("get", "../php/emailCheck.php", false);
        //                               ^ Don't block the rest of the execution.
        //                                 Don't wait until the request finishes to
        //                                 continue.
        oReq.onload = function() {
            //If email was found
            if(this.responseText.indexOf("/".concat(email)) != -1){
              alert(email + " is already taken ");
              check = false;
            }
        };
        oReq.send();
        //Check if form submit should be cancelled
        if(check == false){
          event.preventDefault();
          event.returnValue = false;
        }

      }
    </script>

  </head>

  <body>
    <ul id = "menu">
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">System Logo</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="contactus.html">Contact Us</a></li>
      <li style="float:right"><a href="signup.html">Sign up</a></li>
      <li><a href="reviews.html">Reviews</a></li>
      <li style="float:right"><a href="login.html">Login</a></li>
      <li><a href="#">Type of Services</a>
        <ul>
          <li><a href="rideshare.php">Rideshare</a></li>
          <li><a href="ride_and_delivery.php">Ride & Delivery</a></li>
        </ul>
      </li>
    </ul>

      <form name="form" onsubmit="validatepsw();" action="../php/signup.php" method="POST" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>
          <p style="width:100%">Please fill in this form to create an account.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="fname" required>

          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lname" required>

          <label for="phone"><b>Phone Number</b></label>
          <input type="tel" id="phone" name="phone" placeholder="012-345-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" required>

          <label for="postalCode"><b>Home Postal Code</b></label>
          <input type="text" id="postalCode" name="postalCode" placeholder="Enter Postal Code" maxlength="6" required> 
          
          <!-- <input type="submit" name="submit" value='Sign Up'> -->
          <div class="clearfix">
            
            <button type="submit" class="signupbtn" name="submit">Sign Up</button>
          </div>
        </div>
      </form>
 
  <br>
  
  </body>
</html>